pandas
numpy
matplotlib
seaborn
boto3
requests
openpyxl
xlsxwriter
pyjwt
PyPDF2
python-dateutil
pytz
pdfplumber
Pillow
fuzzywuzzy
python-Levenshtein
psutil
pdf2image
tabulate
beautifulsoup4
psycopg2-binary
pycryptodome
fastapi
uvicorn[standard]==0.23.2
pydantic
pytesseract
python-multipart


